<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">{{'Crear una cuenta'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-avatar>
    <ion-img src="assets/avatar.png"></ion-img>
  </ion-avatar>

  <form #loginForm="ngForm" class="form" (ngSubmit)="createAccount()">

    <ion-item>
      <ion-label position="floating">{{'Nombre'|translate}}</ion-label>
      <ion-input type="text" name="customers_firstname" [(ngModel)]="formData.first_name" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{'Apellido'|translate}}</ion-label>
      <ion-input type="text" name="customers_lastname" [(ngModel)]="formData.last_name" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{'Nombre de usuario'|translate}}</ion-label>
      <ion-input type="text" name="username" [(ngModel)]="formData.username" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{'Email'|translate}}</ion-label>
      <ion-input type="email" email name="email" [(ngModel)]="formData.email" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{'Clave'|translate}}</ion-label>
      <ion-input type="password" name="c_d" [(ngModel)]="formData.password" required>
      </ion-input>
    </ion-item>

    <ion-item *ngIf="errorMessage!=''" lines="none">
      <ion-label>
        {{errorMessage| translate}}
      </ion-label>
    </ion-item>

    <p>{{"Al crear una cuenta significa que estás de acuerdo con nuestros"|translate}}
      <a (click)="openTermServicesPage()">{{'Terminos y Servicios'|translate}}</a>,
      <a (click)="openPrivacyPolicyPage()">{{'Política de privacidad'|translate}}</a> {{'and'|translate}}
      <a (click)="openRefundPolicyPage()">{{'Politica de reembolso'|translate}}</a>
    </p>

    <ion-button disabled="true" expand="full" color="secondary" type="submit" [disabled]="!loginForm.form.valid">
      {{'Registrar'|translate}}
    </ion-button>
  </form>
</ion-content>